<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finwin.custmate">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name="com.finwin.urbanvikas.custmate.home.transfer.view_beneficiary_list.BeneficiaryListActivity"></activity>
        <activity android:name="com.finwin.urbanvikas.custmate.sign_up.otp.SignupOtpActivity" />
        <activity android:name="com.finwin.urbanvikas.custmate.home.transfer.view_recent_transfers.transaction_details.TransactionDetailsActivity" />
        <activity android:name="com.finwin.urbanvikas.custmate.home.transfer.view_recent_transfers.RecentTransfersActivity" />
        <activity
            android:name="com.finwin.urbanvikas.custmate.ActivityInitial"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.finwin.urbanvikas.custmate.sign_up.sign_up.SignUpActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.finwin.urbanvikas.custmate.home.FundTransferReceipt"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.finwin.urbanvikas.custmate.home.transfer.transfer_account_otp.FundTransferAccOTP"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.finwin.urbanvikas.custmate.home.reacharge.RechargeFragmentReceipt"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.finwin.urbanvikas.custmate.home.transfer.search_beneficiary.SearchBeneficiary"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>